.btn-animation:hover {
  background-color: #EDEDED;
  color: #171717;
  border: 2px solid #171717;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  width: 100%;
  color: #EDEDED;
  padding: 1.5em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3em;
  font-family: 'cinzel';
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.53);
}

.heading span {
  color: #DA0037;
}

.inside-heading {
  color: #fca311;
  margin: 2em 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'cinzel';
  letter-spacing: 3px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #EDEDED;
}

.hamburger {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #ffffff;
}

.nav {
  z-index: 100;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171717;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__link {
  position: relative;
  color: #EDEDED;
  padding-bottom: 5px;
  font-size: 4rem;
  text-decoration: none;
  margin-bottom: 20px;
}

.nav__link::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #EDEDED;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav__link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/girl-small.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__logo {
  position: absolute;
  width: 60%;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: show 2s 0.4s 1 both;
          animation: show 2s 0.4s 1 both;
}

.hero__logo--desktop {
  display: none;
}

.hero__btn {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #EDEDED;
  border: 2px solid #EDEDED;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 1px;
  padding: 1em 2em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: show 1.5s 1s 1 both;
          animation: show 1.5s 1s 1 both;
  z-index: 1;
}

.hero__icon {
  position: absolute;
  width: 40px;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-animation: pulse 1s infinite alternate;
          animation: pulse 1s infinite alternate;
  z-index: 1;
  cursor: pointer;
}

.aboutus {
  overflow: hidden;
  padding-bottom: 20px;
  background-image: url("../img/mask-large.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.aboutus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.aboutus__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.aboutus__box {
  position: relative;
  width: 350px;
  height: 100%;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aboutus__box--left:hover {
  -webkit-box-shadow: 0px 0px 12px -1px white;
          box-shadow: 0px 0px 12px -1px white;
  margin-right: 300px;
}

.aboutus__box--left:hover > .aboutus__text {
  -webkit-box-shadow: 0px 0px 12px -1px white;
          box-shadow: 0px 0px 12px -1px white;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
}

.aboutus__box--right:hover {
  -webkit-box-shadow: 0px 0px 12px -1px white;
          box-shadow: 0px 0px 12px -1px white;
  margin-left: 300px;
}

.aboutus__box--right:hover:hover > .aboutus__text--right {
  -webkit-box-shadow: 0px 0px 12px -1px white;
          box-shadow: 0px 0px 12px -1px white;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}

.aboutus__img {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 350px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutus__text {
  position: absolute;
  width: 350px;
  left: 0;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EDEDED;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1em 3em;
}

.aboutus__text p {
  font-size: 1.6em;
  color: #171717;
  margin: 40px 0;
  text-align: justify;
}

.aboutus__text--right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.aboutus__icon {
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.aboutus__icon-information {
  width: 30px;
  margin-right: 1em;
}

.aboutus__information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  color: #EDEDED;
  border-radius: 15px;
  width: 80%;
  height: 500px;
}

.aboutus__information h3 {
  margin-bottom: 1em;
}

.aboutus__information p {
  font-size: 2em;
  text-align: justify;
  padding: 1em 2em;
}

.aboutus__information-img {
  width: 40%;
  height: 100%;
}

.aboutus__information-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutus__information-text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutus__media-information {
  margin: 2em 0;
}

@-webkit-keyframes pulse {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid #ffffff;
  }
}

@keyframes pulse {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid #ffffff;
  }
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@keyframes show {
  from {
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menuLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes menuRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .hero__logo {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .hero__btn {
    bottom: 20%;
  }
  .hero__logo {
    width: 30%;
    bottom: 27%;
  }
}

@media (min-width: 992px) {
  .header .hero {
    background-image: url("../img/girl-large.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
  }
  .header .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .header .hero__btn {
    padding: 1em 2em;
    bottom: 20%;
  }
  .header .hero__logo {
    display: none;
  }
  .header .hero__logo--desktop {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 30%;
    width: 40%;
    min-width: 630px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: show 2s 0.4s 1 both;
            animation: show 2s 0.4s 1 both;
    z-index: 1;
  }
  .header .nav-mobile {
    display: none;
  }
  .header .nav-desktop {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2em;
    background-color: transparent;
  }
  .header .nav__link {
    color: #EDEDED;
    font-size: 2rem;
    margin: 0.5em 1em;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header .nav__link--left {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
    -webkit-animation: menuLeft 2s 0.6s 1 both;
            animation: menuLeft 2s 0.6s 1 both;
  }
  .header .nav__link--right {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
    -webkit-animation: menuRight 2s 1s 1 both;
            animation: menuRight 2s 1s 1 both;
  }
  .header .nav__link-img {
    position: relative;
    width: 9em;
    margin-left: 1em;
    -webkit-animation: menu 2s 0.4s 1 both;
            animation: menu 2s 0.4s 1 both;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transition: border .3s;
    transition: border .3s;
  }
  .header .nav__link-img:hover {
    border: 1px solid #ffffff;
  }
  .hamburger {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */