
@keyframes pulse{
    from{
        border: 1px solid transparent;
    }
    to{
        border: 1px solid $textlight;
    }
}
@keyframes show{
    from{
        transform: translateX(-50%) translateY(50%);
        opacity: 0;
    }
    to{
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes menu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menuLeft{
    from{
        transform: translateX(200%);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes menuRight{
    from{
        transform: translateX(-200%);
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}