.btn-animation:hover {
	background-color: $text;
	color: $back;
	border: 2px solid $back;
}
.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.heading {
	text-align: center;
	width: 100%;
	color: $text;
	padding: 1.5em 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 3em;
	font-family: 'cinzel';
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.53);
	span {
		color: $shadow;
	}
}
.inside-heading {
	color: $heading;
	margin: 1em 1em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-family: 'cinzel';
	letter-spacing: 3px;
}
