@media (min-width: 992px) {
	.header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto repeat(2, 1fr);
		.nav-desktop {
			grid-column: 1/2;
			grid-row: 1/2;
			width: 100%;
		}
		.hero {
			grid-column: 2/-1;
			grid-row: 1/-1;
			background-image: url(/img/back-2-large.jpg);
			background-size: cover;
			background-position: center;
			width: 100%;
		}
	}
	.nav {
		&-mobile {
			display: none;
		}
		&-desktop {
			display: flex;
			align-items: flex-end;
			margin-top: 2em;
			border-bottom: 1px solid $text;
		}
		&__link {
			color: $text;
			font-size: 3rem;
			margin: 0.5em 1em;
			flex-shrink: 0;

			&-img {
				width:9em;
				margin-left: 1em;
			}
		}
	}
	.hamburger {
		display: none;
	}
}
