@media (min-width: 992px) {
	.header {
		.hero {
			@include heroImages('../img/girl-large.jpg');
			background-attachment: scroll;
			width: 100%;
			&__btn {
				padding: 1em 2em;
				bottom: 20%;
			}
			&__logo {
				display: none;
				&--desktop {
					position: absolute;
					display: block;
					left: 50%;
					bottom: 30%;
					width: 40%;
					min-width: 630px;
					transform: translateX(-50%);
					animation: show 2s 0.4s 1 both;
					z-index: 1;
				}
			}
		}
		.nav {
			&-mobile {
				display: none;
			}
			&-desktop {
				position: fixed;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 2em;

				background-color: transparent;
			}
			&__link {
				color: $text;
				font-size: 2rem;
				margin: 0.5em 1em;
				flex-shrink: 0;
				&--left {
					transform: translateX(200%);
					opacity: 0;
					animation: menuLeft 2s 0.6s 1 both;
				}
				&--right {
					transform: translateX(200%);
					opacity: 0;
					animation: menuRight 2s 1s 1 both;
				}
				&-img {
					position: relative;
					width: 9em;
					margin-left: 1em;
					animation: menu 2s 0.4s 1 both;
					border-radius: 50%;
					border: 1px solid transparent;
					transition: border 0.3s;
					&:hover {
						border: 1px solid $textlight;
					}
				}
			}
		}
	}
	.hamburger {
		display: none;
	}
	.inside-heading{
		font-size: 3em;
	}
	.aboutus {
		overflow: hidden;
		padding-bottom: 20px;
		@include heroImages('../img/mask-large.jpg');
		&__boxes {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 100%;
		}
		&__box {
			position: relative;
			width: 30%;
			border-radius: 20px;
			transition: 0.3s;
			&--left {
				&:hover {
					box-shadow: 0px 0px 12px -1px rgba(255, 255, 255, 1);
					margin-right: 300px;
				}
				&:hover > .aboutus__text {
					box-shadow: 0px 0px 12px -1px rgba(255, 255, 255, 1);
					transform: translateX(100%);
				}
			}
			&--right {
				&:hover {
					box-shadow: 0px 0px 12px -1px rgba(255, 255, 255, 1);
					margin-left: 300px;
					&:hover > .aboutus__text--right {
						box-shadow: 0px 0px 12px -1px rgba(255, 255, 255, 1);
						transform: translateX(-100%);
					}
				}
			}
		}
		&__img {
			position: relative;
			transition: 0.3s;
			height: 600px;
			width: 100%;
			overflow: hidden;
			z-index: 1;
			&-pic {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				border-top-right-radius: 20px;
				height: 100%;
				object-fit: cover;
			}
		}
		&__text {
			position: absolute;
			height: 500px;
			width: 99%;
			@include flex;
			flex-direction: column;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 0;
			transition: 0.3s;
			padding: 1em 3em;
			&--right {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&__paragraf{
			font-size: 1.6em;
			padding: 0 1em;
			&-info{
				padding: 0 1.5em;
			}
		}
		&__icon {
			margin-right: 10px;
			margin-bottom: 20px;
			width: 30px;
			cursor: pointer;
			&-information {
				width: 30px;
				margin-right: 1em;
			}
		}
		&__information {
			@include flex;
			flex-direction: row;
			background-color: rgba(0, 0, 0, 0.7);
			overflow: hidden;
			color: $text;
			border-radius: 15px;
			width: 95%;
			height: 400px;
			h3{
				font-size: 2em;
			}
			&-img {
				width: 50%;
				height: 400px;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
			&-text {
				@include flex;
				flex-direction: column;
				justify-content: space-around;
			}
		}
		&__media {
			&-information {
				margin:0;
			}
		}
	}
}
