@import '../sass/animation';
@import '../sass/mixins';
@import '../sass/colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Mono', monospace;
	background-color: $back;
}

h1{
	font-size: 2.6rem;
	color: $heading;
}

@import '../sass/medium';
@import '../sass/large';
@import '../sass/small';
