@import '../sass/mixins';
@import '../sass/colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto Mono', monospace;
	background-color: $back;
}

//HEADER

//Nawigacja / nav
.nav {
	display: none;
	z-index: 100;
}
.hamburger {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $textlight;
	}
}
.nav {
	&-mobile {
		position: absolute;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $backlight;
		transform: translateX(-102%);
		transition: transform 0.3s;
		&--active {
			transform: translateX(0);
		}
	}
	&__link {
		position: relative;
		color: $text;
		font-size: 4rem;
		text-decoration: none;
		margin-bottom: 20px;
		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: $heading;
			transform: scale(0);
			transition: transform 0.3s;
		}
		&:hover::before {
			transform: scale(1);
		}
	}
}

//Hero img

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/back-2-small.jpg);
	background-size: cover;
	background-position: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
	&__logo {
		position: absolute;
		width: 50%;
		bottom: 40%;
		left: 50%;
		transform: translateX(-50%);
	}
	&__btn {
		position: absolute;
		left: 50%;
		bottom: 30%;
		width: 60%;
		background-color: transparent;
		color: $text;
		border: 2px solid $text;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.6em;
		letter-spacing: 1px;
		padding: 1em 3em;
		transform: translateX(-50%);
	}
	&__icon {
		position: absolute;
		width: 40px;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
		animation: pulse 1s infinite alternate;
	}
}
@import '../sass/animation';
@import '../sass/small';
@import '../sass/medium';
@import '../sass/large';
